.card-1{
    background-image: url('/src/assets//bamboo.jpg');
}
.card-2{
    background-image: url('/src/assets/euro.jpg');
    border-color: rgba(0, 0, 0, 0.247);
    box-shadow: 2px;
}
.card-3{
    background-image: url('/src/assets/plastic.jpg');
}
.card-4{
    background-image: url('/src/assets/kenyan.jpg');
}